@if (showContactForm) {
<div class="w-full max-w-md mx-auto">
  <app-contact-form [contactToUpdate]="contactToUpdate"></app-contact-form>
</div>
}

<div
  class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 justify-items-center p-8"
>
  @for (contact of contacts; track $index ) {
  <div class="card w-80 bg-white shadow-lg border border-purple-100 m-8">
    <div class="card-body p-6">
      <div class="flex items-center justify-center gap-4">
        <div class="avatar">
          <div class="w-24 rounded-full">
            <img
              src="https://img.daisyui.com/images/profile/demo/yellingcat@192.webp"
            />
          </div>
        </div>
      </div>
      <!-- Contact Details -->
      <div class="mt-4 space-y-2">
        <div class="flex items-center gap-2 text-gray-600">
          <i class="fa-regular fa-user"></i>
          <span>{{ contact.name }}</span>
        </div>
        <div class="flex items-center gap-2 text-gray-600">
          <i class="fa-regular fa-envelope"></i>
          <span>{{ contact.email }}</span>
        </div>
        <div class="flex items-center gap-2 text-gray-600">
          <i class="fa-solid fa-phone"></i>
          <span>{{ contact.phone }}</span>
        </div>
      </div>

      <!-- Action Buttons -->
      <div class="card-actions justify-end mt-4">
        <button
          class="btn btn-ghost btn-sm text-primary"
          (click)="updateContact(contact)"
        >
          <i class="fa-regular fa-pen-to-square"></i>
        </button>
        <button
          class="btn btn-ghost btn-sm text-error"
          (click)="deleteContact(contact)"
        >
          <i class="fa-solid fa-trash"></i>
        </button>
      </div>
    </div>
  </div>
  }
</div>
