<header>
  <div class="navbar bg-base-100 shadow-sm">
    <div class="flex-1">
      <a class="btn btn-ghost text-xl">conTact</a>
    </div>
    <div class="flex gap-4 items-center mx-5">
      <input
        type="text"
        placeholder="Search"
        class="input input-bordered w-24 md:w-auto"
      />
      <!-- Open the modal using ID.showModal() method -->
      <button class="btn" onclick="contact_form_modal.showModal()">
        <i class="fa fa-plus"></i>
      </button>
      <dialog id="contact_form_modal" class="modal">
        <app-contact-form></app-contact-form>
      </dialog>
    </div>
  </div>
</header>
