<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <fieldset
    class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4"
  >
    <legend class="fieldset-legend">Add New Contact</legend>

    <label class="label">Name</label>
    <input type="text" class="input" formControlName="name" required />

    <label class="label">Email</label>
    <input type="email" class="input" formControlName="email" required />

    <label class="label">Phone Number</label>
    <input type="tel" class="input" formControlName="phone" required />
  </fieldset>
  <div>
    <button class="btn btn-secondary" type="button" (click)="onCancel()">
      Cancel
    </button>
    <button class="btn btn-primary" type="submit">Add Contact</button>
  </div>
</form>
